<div class="number filter-div">
	<div class="row">
		<h3>Filter by <span class="number-id">age</span></h3>
		<button class="btn btn-dark filter-button" id="participant-id-filter">
			Filter by Participant ID
		</button>
	</div>
	<hr>
	<form>
		<div class="form-row">
			<div class="form-group col-md-3">
				<label for="num-from">Select from</label>
				<input type="number" class="form-control" id="num-from" placeholder="0">
			</div>
			<div class="form-group col-md-3">
				<label for="num-to">to</label>
				<input type="number" class="form-control" id="num-to" placeholder="100">
			</div>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="null-values">
			<label class="form-check-label" for="null-values">
				Include null values
			</label>
		</div>
		<br>
		<button type="button" class="btn btn-success go-filter-button">Go</button>
	</form>
</div>

<div class="date filter-div">
	<div class="row">
		<h3>Filter by <span class="date-id"></span></h3>
		<button class="btn btn-dark filter-button" id="participant-id-filter">
			Filter by Participant ID
		</button>
	</div>
	<hr>
	<form>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="date-from">Start Date</label>
				<input type="date" class="form-control" id="date-from" placeholder="0">
			</div>
			<div class="form-group col-md-4">
				<label for="date-to">End Date</label>
				<input type="date" class="form-control" id="date-to" placeholder="100">
			</div>
		</div>
		<button type="button" class="btn btn-success go-filter-button">Go</button>
	</form>
</div>