<h3>What is Syndasera?</h3>

<p>
The synthetic data service, aka Syndasera, is a tool designed by the 2020 Health Data Insight
(HDI) intern team: 
Aisha, Evonne, Faiz, Harry, Lulu, and Rebeca. It involved three main branches of design:

<ul>
	<li>
		AI Algorithms were used to generate the synthetic data itself using multiple advanced machine
		learning models such as Generative Adversarial Networks to train on the datasets supplied.
	</li>
	<li>
		Privacy & Evaluation methods were implemented to ensure that the data generated was in fact
		realistic compared to the original dataset and fully anonymised.
	</li>
	<li>
		Web Development included developing this website, handling backend requests for synthetic
		data and visualisations, and setting up the Dataset Access Environment where users can
		safetly upload their data.
	</li>
</ul>

For more information about the project itself, please see <a href="/our_methods">our methods</a>.
</p>

<h3>What is HDI?</h3>
<p>
HDI is a social enterprise overseen by the Office of the Regulator of Community Interest Companies 
which ensures we meet our social purpose and that the value we create is protected and used for 
social good.
</p>
<%= image_tag("hdi_banner.png", :alt => "HDI", :height => "250", :class => "banner") %>
<br>

<p>Our aims are to:</p>
<ul>
	<li>
		create value for public sector organisations by finding new knowledge from both existing and new
		sources of information
	</li>
	<li>
		provide a data management and linkage service that allows partners to access information
		in safe-havens that guarantee the privacy of each individual patient.
	</li>
	<li>
		create visual, internet-based information services and applications that can be easily accessed,
		used and understood
	</li>
	<li>
		supply organisations with information and services that they can use to understand and help
		improve their services</li>
	<li>
		deliver information to patients in accessible ways to help them improve the ways they choose, 
		access and use services and understand their clinical condition and care.
	</li>
</ul>

<p>
Our strategic objectives are aligned to NHS and wider government policy to improve transparency and
access to data, encourage self-management, enable choice and foster the use of social enterprises to 
deliver public services.
</p>

<p>
Our aims are aligned to NHS and wider government policy to improve transparency and access to data, 
encourage self-management, enable choice and foster the use of social enterprises to deliver public
services.
</p>

<p>
HDI conducts all its activities openly and transparently and is held to account through its annual
report to The Office of the Regulator of Community Interest Companies on what it has delivered for
its approved communities.
</p>
