<h2>Project Summary</h2>

<p>
Syndasera is a dynamic synthetic data service allowing users like yourselves to create requests
for synthetic data generation from a real time-series patient dataset. We use sophisticated machine
learning algorithms and effective privacy evaluations to make sure that your synthesised data is as
realistic as possible whist protecting the privacy of your patients, which is of utmost importance.
Please see the below results for an example of data synthesised from the Program for Resistance, 
Immunology, Surveillance and Modeling of Malaria (PRISM) dataset. 
</p>

<hr>
synthetic data from PRISM dataset goes here
