<h2>Project Summary</h2>

Syndasera is a dynamic synthetic data service allowing users like yourselves to create requests
for synthetic data generation from a real time-series patient dataset. We use sophisticated machine
learning algorithms and effective privacy evaluations to make sure that your synthesised data is as
realistic as possible whist protecting the privacy of your patients, which is of utmost importance.
Please see below for an example of data synthesised from the 
<span data-toggle="tooltip" style="color:blue; font-weight:bold;" 
title="PRISM was a longitudinal cohort study conducted in different transmission settings in Uganda. 
All children 6 months to 10 years old within a household and up to one primary caregiver were 
enrolled in a dynamic cohort, and children were excluded from follow-up after reaching 11 years of age.
Participants had routine clinic visits roughly every 3 months and attended a study clinic any 
time they became ill."> 
Program for Resistance, Immunology, Surveillance and Modeling of Malaria (PRISM) dataset
</span>.

<hr>
<%= javascript_include_tag 'home.js' %>

<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-header text-center">
      <b>Filter by Column</b><br>
      <button class="btn btn-info" type="button" id="select-all">Select All</button>
      <button class="btn btn-info" type="button" id="select-none">Select None</button>
    </div>
    <div class="list-group">
      <!-- rendered from home.js with jquery-->
    </div>
  </div>
</div>

<br />

<div class="notes col-md-10">
  <p>All durations are in days; all dates are in the form yyyy/mm/dd; all weights are in kg,
  and all temperatures are measured in &#8451;</p>
</div>

<div class="data-table">
  <%= render 'pages/table' %>
</div>

<br>
<div class="text-center pagination-div">
  <div class="page_info">
    <%= page_entries_info @observations %>
  </div>
  <%= will_paginate @observations, :container => false, 
  renderer: WillPaginate::ActionView::BootstrapLinkRenderer, 
  list_classes: %w(pagination justify-content-center) %>
</div>