@import "bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

.scheme {
    background-color: #efefef;
}

body {
    display: flex;
    flex-direction: column;
}

.body-container {
    padding-top: 50px; // padding after navbar
    flex: 1 0 auto;
}

.navbar-nav > li{
    padding-left: 20px;
  }

.nav-link {
    color: black;
    transition-duration: 0.5s;
}

.logo {
    font-weight: bold;
    padding-left: 10px;
    color: #472f91;
}

.btn-secondary, .btn-secondary:visited  {
    background-color: white !important;
    color: black !important;
}

.btn-secondary:hover, .btn-secondary:active {
    background-color: rgb(248, 245, 245) !important;
}

.link-to {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.link-to:hover {
    color: #292b2c;
    text-decoration: none;
    font-weight: bold;
}

.dropdown-menu { 
    width: 50%;
}

.dropdown-items{
    padding-left: 20px;
}

.tooltip-inner {
    max-width: 350px;
}

.data-table {
    overflow-x: auto;
    height: 800px;
}

thead tr:nth-child(1) th {
    background: #b9dbdf;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nowrap {
    white-space: nowrap;
}

.list-group{
    max-height: 300px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    user-select: none;
  }
  
.list-group input[type="checkbox"] {
    display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
    cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
    content: "\2713";
    color: transparent;
    font-weight: bold;
    margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
    background-color: #0275D8;
    color: #FFF;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
    color: inherit;
}

.notes {
    margin-top: 10px;
    text-align: left;
    background-color: white;
    border-style: solid;
    border-color: #b9dbdf;
    border-width: 5px;
    padding-top: 20px;
    padding-left: 10px;
}

.form-container, .filter {
    text-align: left;
    border-style: solid;
    border-color: #b9dbdf;
    border-width: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 20px;
}

.btn-info, .btn-secondary {
    margin-top: 5px;
}

.logsignin {
    margin: auto;
    padding: 10px;
    width: 70%;
}

.warning {
    color: red;
    font-weight: bold;
}

#sticky-footer {
    flex-shrink: 0;
}

@media (min-width: 500px) and (max-width: 1199px) {
    .banner {
      display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .banner {
      display: block;
    }
}
